@import "./base.less";

.re-select {
  position: relative;

  .re-select-input{
    position: relative;
    &>.re-input{
      cursor: pointer;
    }

    &>i{
      right: 10px;
    }
  }


  .re-select-option{

  }
}
