.x-table {
  overflow-x: auto;
  background: #fff;
  width: 100%;
  font-size: .28rem;
  table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }
  &.border {
    border: 0.02rem solid #EFEFEF;
    border-radius: .08rem;
  }
  colgroup {
    display: table-column-group;
  }
  thead {
    tr {
      display: table-row;
      border-bottom: .02rem solid #EFEFEF;
      th {
        text-align: left;
        padding: 16px;
        background: #fafafa;
        box-sizing: border-box;
        word-break: break-all;
      }
    }
  }
  tbody {
    tr {
      display: table-row;
      border-bottom: 1px solid #EFEFEF;
      cursor: pointer;
      transition: background .5s;
      &:hover {
        background: rgba(24, 144, 255, 0.1);
      }
      td {
        padding: 16px;
        height: 100%;
        box-sizing: border-box;
        overflow-wrap: break-word;
        >div {
          height: 100%;
          display: flex;
          align-items: center;
          >a {
            text-decoration: none;
            color: #1890ff;
          }
        }
      }
    }
  }
}