@import "./base.less";

.re-form-control{

  .re-from-input{
    position: relative;

    .re-clearable{
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      width: 30px;
      align-items: center;
      justify-content: center;
      display: flex;
      cursor: pointer;
      i{
        transition: all 0.25s ease-in-out;
        color: @border;
      }
      &:hover{
        i{
          color: darken(@border, 20%);
        }
      }
    }
  }
  .re-from-textarea{
    position: relative;

    .re-textarea-maxlength{
      position: absolute;
      left: 10px;
      bottom: 10px;
      font-size: 12px;
      color: @border;
    }
  }
}

::-ms-clear,::-ms-reveal{display:none;}

.re-input,.re-textarea{
  resize: none;
  border: 1px solid @border;
  border-radius: 4px;
  max-width: 100%;
  padding: 8px 25px 8px 10px;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
  color: @text;
  max-width: 100%;
  width: 100%;

  &.re-input-lg{
    padding: 12px 30px 12px 15px;
    font-size: 16px;
  }

  &.re-input-sm{
    padding: 4px 20px 4px 6px;
    font-size: 12px;
  }
  &:disabled {
    cursor: no-drop;
    &:hover{
      border-color: @border;
    }
  }
  &:hover{
    border-color: @primary;
  }
  &:focus{
    border-color: @primary;
    box-shadow: 0 0 0 2px fade(@primary, 30%);

    &::placeholder {
      color: fade(@border, 40%);
    }
  }

  &::placeholder {
    color: @border;
  }
}
